$white: #fff2ee;
// $light: #F8E6E0; // Warm Ivory
$light: #f2ecea;
//$light: #f6deae;
$dark: #272728;
// $primary: #C3D7E0;
$primary: #CCE1D4;
// $secondary: #F5C1A5;
$secondary: #FFE5C0;


$info: #fabd56;
$success: #1ee478;
$warning: #fbda16;
$danger: #fe4048;