@import 'custom-variables';
@import "../node_modules/bootstrap/scss/bootstrap";

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

body {
    font-family: 'Nunito', sans-serif;
    margin-top: 4em;
    text-wrap: balance;
    color: $dark;

    a {
        text-decoration: none;
    }
}

li {
    list-style: circle;
    margin-bottom: 1em;
}

.footer-links {
    list-style: none;

    li {
        list-style: none;
    }
}

h1 {
    color: $primary;
}

h2,
h3,
h4,
h5 {
    color: $primary;
    font-family: 'Work Sans', sans-serif;
}

h2,
h3 {
    display: inline-block;
    border-bottom: 1px solid #3498db;
    margin-bottom: 1em;
    padding-bottom: 0.2em;

    &.no-underline {
        border-bottom: none;
    }
}

h4 {
    color: $dark;
    text-wrap: pretty;
}

.navbar-brand {
    color: $dark;
    padding-top: 0em;
    padding-bottom: 0em;
    font-size: 1em;
    white-space: normal;
}

.navbar-brand {
    /* padding-top: var(--bs-navbar-brand-padding-y); */
    /* padding-bottom: var(--bs-navbar-brand-padding-y); */
    /* margin-right: var(--bs-navbar-brand-margin-end); */
    font-size: var(--bs-navbar-brand-font-size);
    color: var(--bs-navbar-brand-color);
    text-decoration: none;
    /* white-space: nowrap; */
}

#navbarNav {
    .navbar-nav {
        .nav-item {
            list-style: none;

            .nav-link {
                color: $dark
            }
        }
    }
}

nav-item {
    list-style: none;
}

.btn {
    --bs-border-opacity: .1;
}

.card {
    img {
        height: 100%;
        object-fit: cover;
    }
}

#card-1 {
    opacity: 0;
    /* easeInSine */
    animation: fadeIn 350ms cubic-bezier(0.470, 0.000, 0.745, 0.715) 750ms forwards;
}

#card-2 {
    opacity: 0;
    /* easeInSine */
    animation: fadeIn 350ms cubic-bezier(0.470, 0.000, 0.745, 0.715) 1000ms forwards;
}

#card-3 {
    opacity: 0;
    /* easeInSine */
    animation: fadeIn 350ms cubic-bezier(0.470, 0.000, 0.745, 0.715) 1250ms forwards;
}

#card-4 {
    opacity: 0;
    /* easeInSine */
    animation: fadeIn 350ms cubic-bezier(0.470, 0.000, 0.745, 0.715) 1500ms forwards;
}

#card-5 {
    opacity: 0;
    /* easeInSine */
    animation: fadeIn 350ms cubic-bezier(0.470, 0.000, 0.745, 0.715) 1750ms forwards;
}

#cookie-banner {
    position: fixed;
    bottom: 10px;
    backdrop-filter: blur(5px) saturate(2);
    animation: fadeIn 1350ms;
}

#cookie-banner button {
    margin-left: 10px;
}

#header-image {
    opacity: 0;
    animation: fadeIn 1000ms cubic-bezier(0.470, 0.000, 0.745, 0.715) forwards;
}

%mark-base {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        bottom: 6px;
        left: 0;
        width: 0;
        height: 60%;
        border-radius: 2px;
        z-index: -1;
    }
}

.mark-primary {
    @extend %mark-base;

    &::before {
        background-color: #cce1d476;
        /* Primary background color */
        animation: highlightText 300ms ease-out 2000ms forwards;
    }
}

.mark-secondary {
    @extend %mark-base;

    &::before {
        background-color: #ffe5c06d;
        /* Secondary background color */
        animation: highlightText 300ms ease-out 3000ms forwards;
        /* Adjust the delay for secondary */
    }
}

.icon {
    max-height: 1em;
}

@keyframes highlightText {
    to {
        width: 90%;
    }
}


@keyframes highlightText {
    to {
        width: 90%;
    }
}


.navbar {
    position: fixed;
    transition: top 0.3s;
}

#subtext {
    opacity: 0;
    /* ease-out */
    // animation: fadeIn 5000ms cubic-bezier(0.000, 0.000, 0.580, 1.000) forwards;
    /* easeInSine */
    animation: fadeIn 400ms cubic-bezier(0.470, 0.000, 0.745, 0.715) forwards;
}

@media (max-width: 991.98px) {
    body {
        padding-top: 0;
    }
}